body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #2b2929;
  }
  
  .search-form {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    background-color: rgb(69, 68, 67);
  }
  
  .photo-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: calc(20% - 20px);
    border-image: linear-gradient(
      to bottom, 
      rgb(232, 156, 33), 
      rgba(0, 0, 0, 0)
   ) 1 100%;
  }
  
  .photo-card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .info {
    padding: 10px;
    background-color: rgb(232, 235, 234);
  }
  
  .info-item {
    margin: 0;
  }
  .load-more {
color: rgb(254, 255, 255);
background-color: rgb(113, 112, 110);
margin-top: 10px;
margin-bottom: 20px;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
transition: background-color 0.3s;
  }

  .load-more:hover {
    background-color: rgb(232, 156, 33);
    color: rgb(46, 47, 47);
  }

  .search-form{
    color: rgb(254, 255, 255);
    background-color: rgb(113, 112, 110);
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;}

    /* .search-form:hover {
      background-color: rgb(232, 156, 33);
      color: rgb(46, 47, 47);
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 10px;
    } */

    .search{
      color: rgb(254, 255, 255);
      background-color: rgb(113, 112, 110);
      cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;

    }
    .search:hover{
      background-color: rgb(232, 156, 33);
      color: rgb(46, 47, 47);
    }

    .hidden {
      display: none;
    }